{% extends 'catalog/base.html' %}

{% block title %}Войти в аккаунт{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data" action="">
                <div class="card">
                    <div class="card-body">
                        {% csrf_token %}
                        {{form.as_p}}
                        <div>
                            <button type="submit" class="btn btn-primary">
                                Войти
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}